<header class="header">
  <div class="container clearfix">
    <a href="#" class="logo">
      About films
    </a>
    <nav class="main-nav">
      <ul>
        <li><a href="#">home</a></li>
        <li><a href="#">products</a></li>
        <li><a href="#">services</a></li>
        <li><a href="#">our work</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
