.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background-color: #343434;
  padding: 25px 0;
}

.logo {
  float: left;
  font-family: "Source Sans Pro", sans-serif;
  color: #cccccc;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav {
  text-align: right;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  margin-left: 25px;
  padding-top: 8px;
}

.main-nav a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}



