footer {
  background-color: #343434;
  min-height: 65px;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: 10px;
}

.blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

}
.block-1 p {
  font-size: 13px;
  color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
}

.block-2 p {
  font-size: 14px;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
}

.block-2 span {
  font-size: 23px;
  color: #fff;
  margin-right: 10px;
}

.block-3 a {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;


}
/*.link-1 {*/
/*  background-image: url(../images/skype.png);*/
/*  background-repeat: no-repeat;*/
/*  background-position: center;*/
/*}*/

/*.link-2 {*/
/*  background-image: url(../images/twitter.png);*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*}*/

/*.link-3 {*/
/*  background-image: url(../images/google.png);*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*}*/


