<div class="footer container">
  <footer>
    <div class="container foot">
      <div class="blocks block-1">
        <p>All contents © copyright 2021 Business Theme. All rights reserved Designed by : NNN</p>
      </div>
      <div class="blocks block-2">
        <p>Телефон: <span>+9777 777 779</span></p>
      </div>
    </div>
  </footer>
</div>
