<div class="sidebar">
  <div class="container clearfix">
    <div class="box-1 float-left">
      <h1>News</h1>
      <p>12.01.2013 - <span>View updates</span></p>
      <p>13.02.2013 - <span>Buy a new film only for <b>1$</b></span></p>
      <p>14.03.2013 - <span>You can watch a short fragment</span></p>
      <p>15.03.2013 - <span>See our costumers reviews</span></p>
      <p>16.03.2013 - <span>The last movies are here</span></p>
    </div>
</div>
