<app-movie title="The Green Mile" year="1999" image="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/a81a3056-4f50-47e6-8b31-7ae960b2a507/orig"></app-movie>
<app-movie title="Lion King" year="1994" image="https://www.youloveit.ru/uploads/gallery/thumb/610/youloveit_ru_lion_king_pictures47.jpg"></app-movie>
<app-movie title="Matrix" year="2000" image="https://avatars.mds.yandex.net/get-kinopoisk-image/1777765/cfe5add3-eb87-495f-998e-89c90097030d/orig"></app-movie>
